<script type="text/javascript">
// function moveScroller() {
//     var $anchor = $("#scroller-anchor");
//     var $scroller = $('#scroller');
//
//     var move = function() {
//         var st = $(window).scrollTop();
//         var ot = $anchor.offset().top;
//         if(st > ot) {
//             $scroller.css({
//                 position: "fixed",
//                 top: "0px"
//             });
//         } else {
//             if(st <= ot) {
//                 $scroller.css({
//                     position: "relative",
//                     top: ""
//                 });
//             }
//         }
//     };
//     $(window).scroll(move);
//     move();
// }
</script>

<div class="navbar">
  <ul class="links">
    <li id="products" class="link">Products</li>
    <li id="review" class="link">Review</li>

    <li id="logo-item"></li>
    <li id="empty" ></li>
    <li id="about-us" class="link">About Us</li>
  </ul>


  <div class="faded-line"></div>
</div>

<script type="text/javascript">
  window.onload = function () {
    $(function() {
      moveScroller();
    });
  }
</script>
