
<%- partial('./partials/navbar.ejs') %>
<%- partial('./partials/home.ejs') %>

<div class="screen" style="margin-left:10%; margin-right:10%;margin-top: 20px;margin-bottom:20px;">
  <script type="text/javascript">
      function getProducts(req,res){
        req.request("GET /wines/")
        consol.log('test')
      }
      getProducts()
  </script>
  <%- partial('./partials/products.ejs') %>
</div>
<div style="height:400vh;background-color: #FDFDFD;"></div>
