@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
html,
body {
  text-align: left;
  font-size: 1em;
}
html,
body,
img,
form,
textarea,
input,
fieldset,
div,
p,
div,
ul,
li,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
  color: #333 !important;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  background-color: red;
}
ul {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}
li {
  display: inline-block;
  color: white;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  text-decoration: none;
}
.link:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #888888;
}
#products {
  justify-content: flex-start;
}
#reviews {
  justify-content: flex-start;
}
#logo-item {
  flex: 1;
  justify-content: center;
  margin-top: 50vh;
}
#about-us {
  justify-content: flex-end;
}
#empty {
  justify-content: flex-end;
  width: 3.5em;
}
#empty:active {
  justify-content: flex-end;
  hover: none;
}
/* Fancy faded line
TODO: add media queries for phone design
*/
.faded-line {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 2px;
  background-repeat: no-repeat;
  background-image: radial-gradient(farthest-side at 100% 0px, #000000 0%, rgba(0, 0, 0, 0) 55%), radial-gradient(farthest-side at 0px 0px, #000000 0%, rgba(0, 0, 0, 0) 55%);
}
